body img {
    height: auto;
    max-width:100%;
}
body ul {
    list-style-type: none;
    padding-left:0px;
}
.main_wrapper {
    background-color:#FFFFFF;
    height:auto;
    margin-bottom:0;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
}
.footer {
    background-color:#EDEAED;
    padding:10px;
}
.header {
    margin-top:0px;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(25%, #f5f5f5), color-stop(47%, #fcfcff), color-stop(82%, #ffffff), color-stop(100%, white));
    background-image:-webkit-linear-gradient(top, #f0f0f0 0%, #f5f5f5 25%, #fcfcff 47%, #ffffff 82%, white 100%);
    background-image:-moz-linear-gradient(top, #f0f0f0 0%, #f5f5f5 25%, #fcfcff 47%, #ffffff 82%, white 100%);
    background-image:-o-linear-gradient(top, #f0f0f0 0%, #f5f5f5 25%, #fcfcff 47%, #ffffff 82%, white 100%);
    background-image:-ms-linear-gradient(top, #f0f0f0 0%, #f5f5f5 25%, #fcfcff 47%, #ffffff 82%, white 100%);
    background-image:linear-gradient(to bottom, #f0f0f0 0%, #f5f5f5 25%, #fcfcff 47%, #ffffff 82%, white 100%);
    min-height:148px;
}
.logo_holder {
    padding:10px;
    min-height:71px;
    background:url(../images/logo.png) no-repeat center top;
}
.search_holder {
    margin-top:10px;
    min-height:42px;
    padding-top:15px;
    padding-right:10px;
}
.form {
    margin-top: 0em;
    min-height:28px;
    margin-bottom:0em;
    padding-top:0px;
    width:228px;
    margin-left:auto;
    margin-right:auto;
}
.search_box {
    height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9F9F9F;
    line-height: 28px;
    padding-left: 12px;
    padding-right: 10px;
    display: block;
    border: none;
    outline: none;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8db), color-stop(100%, #f2eff2));
    background-image:-webkit-linear-gradient(top, #d8d8db 0%, #f2eff2 100%);
    background-image:-moz-linear-gradient(top, #d8d8db 0%, #f2eff2 100%);
    background-image:-o-linear-gradient(top, #d8d8db 0%, #f2eff2 100%);
    background-image:-ms-linear-gradient(top, #d8d8db 0%, #f2eff2 100%);
    background-image:linear-gradient(to bottom, #d8d8db 0%, #f2eff2 100%);
    float:left;
}
.search_box_align {
    margin-left: 0px;
}
.gobox {
    cursor: pointer;
    width:29px;
    height:28px;
    display:block;
    float:left;
    max-width:0none;
}
.hmenubar {
    width:auto;
    text-align: center;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    display:none;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
}
.hmenubar li {
    position: relative;
    border-right: #CCC 1px solid;
}
.hmenubar li a {
    font-family:'Antic', sans-serif;
    font-size: 14px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    height: auto;
    line-height: 37px;
    color: #797979;
    padding: 0 19px;
}
.hmenubar li a:hover {
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bffe), color-stop(100%, #047ad4));
    background-image:-webkit-linear-gradient(top, #00bffe 0%, #047ad4 100%);
    background-image:-moz-linear-gradient(top, #00bffe 0%, #047ad4 100%);
    background-image:-o-linear-gradient(top, #00bffe 0%, #047ad4 100%);
    background-image:-ms-linear-gradient(top, #00bffe 0%, #047ad4 100%);
    background-image:linear-gradient(to bottom, #00bffe 0%, #047ad4 100%);
    color: #FFF;
}
.hmenubar li a.clicked {
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bffe), color-stop(100%, #047ad4));
    background-image:-webkit-linear-gradient(top, #00bffe 0%, #047ad4 100%);
    background-image:-moz-linear-gradient(top, #00bffe 0%, #047ad4 100%);
    background-image:-o-linear-gradient(top, #00bffe 0%, #047ad4 100%);
    background-image:-ms-linear-gradient(top, #00bffe 0%, #047ad4 100%);
    background-image:linear-gradient(to bottom, #00bffe 0%, #047ad4 100%);
    color: #FFF;
}
.nav_holder {
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    min-height:49px;
    padding-top:15px;
}
.slideshow {
    margin-top:15px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(204, 204, 204);
    background:url("../images/home_slideshow_placeholder.jpg") no-repeat center top;
    padding:10px;
    min-height:369px;
}
.hover_boxes {
    margin-top:25px;
    cursor:pointer;
    min-height:558px;
}
.box_area {
    background-color:#3B3B3B;
    color:#6C6B6B;
    padding:20px 10px;
    min-height:156px;
}
.box_area:hover {
    background-color: #D6D3D6;
}
.box_area:hover span {
    color: #6C6B6B;
}
.box_area:hover h2 {
    color: #3B3B3B;
}
.about_us {
    margin-top:36px;
    padding-top:20px;
    padding-bottom:20px;
}
.news_feed {
    border-right:0px dotted;
}
.news_list {
    font-family : Arial, Helvetica, sans-serif;
    text-align : center;
    font-size : 14px;
    line-height : 250%;
    padding:10px;
    min-height:10px;
}
.news_list li {
    line-height: 157%;
    min-height:135px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 157%;
    color: #505050;
    font-size: 14px;
    letter-spacing:0px;
    background-color:#EDEAED;
}
body h2 {
    color: white;
    font: normal 36px/40px Arial, Helvetica, sans-serif;
    padding:0;
    line-height: 100%;
    margin-top:0;
    margin-bottom:0;
}
body h3 {
    color: #666;
    font-size: 18px;
    font-weight: bold;
    line-height: 100%;
}
body p {
    font-size:14px;
}
body a {
    color: #1C66C7;
    font-weight: normal;
}
.description_text {
    color: #B8B8B8;
    font: normal 12px/16px Arial, Helvetica, sans-serif;
    background-color: inherit;
    margin-top:24px;
    margin-bottom:0;
}
.button {
    display: block;
    width: 113px;
    color: white;
    text-decoration:none;
    font: bold 12px/35px Arial, Helvetica, sans-serif;
    text-align: center;
    border-color:#0162B2;
    border-style:solid;
    border-width:1px;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bffe), color-stop(100%, #047ed5));
    background-image:-webkit-linear-gradient(top, #00bffe 0%, #047ed5 100%);
    background-image:-moz-linear-gradient(top, #00bffe 0%, #047ed5 100%);
    background-image:-o-linear-gradient(top, #00bffe 0%, #047ed5 100%);
    background-image:-ms-linear-gradient(top, #00bffe 0%, #047ed5 100%);
    background-image:linear-gradient(to bottom, #00bffe 0%, #047ed5 100%);
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    margin-top:18px;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
}
.button:hover {
    -webkit-border-radius:2px;
    border-color:#0162B2;
    border-style:solid;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #047ed5), color-stop(100%, #00bffe));
    background-image:-webkit-linear-gradient(top, #047ed5 0%, #00bffe 100%);
    background-image:-moz-linear-gradient(top, #047ed5 0%, #00bffe 100%);
    background-image:-o-linear-gradient(top, #047ed5 0%, #00bffe 100%);
    background-image:-ms-linear-gradient(top, #047ed5 0%, #00bffe 100%);
    background-image:linear-gradient(to bottom, #047ed5 0%, #00bffe 100%);
    -moz-border-radius:2px;
    border-radius:2px;
}
h2.title {
    color: #474747;
    margin-top:0;
    margin-bottom:20px;
}
.employee {
    clear: both;
    min-height: 110px;
    margin-top:10px;
    margin-bottom:10px;
}
.client_review {
    padding-bottom:20px;
}
.description_button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 28px;
    color: #919191;
    width: 108px;
    height: 37px;
    text-align: center;
    background-color: #D5D5D5;
    display: block;
    text-decoration:none;
    margin-top:0;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
}
.description_button:hover {
    color: #FFF;
    background-color:#3B3B3B;
}
.news {
    margin-top:25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #01B6F9;
    font-weight: bold;
    background-color: inherit;
    text-align:left;
}
.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #919191;
    background-color: inherit;
    margin-top: 10px;
}
.client {
    width:96px;
    height:99px;
    background-color:#EAEAEA;
    padding:10px;
    float:left;
    border:#CCC 1px solid;
    margin-right:20px;
}
.review_text {
    padding:0 10px 10px 10px;
    min-height:119px;
}
.revtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #3B3B3B;
    background-color: inherit;
    padding:0;
    margin-top:0;
    margin-bottom:20px;
    text-align:left;
}
.revtext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #919191;
    background-color: inherit;
    margin-top:3px;
    margin-bottom:0;
    text-align:left;
}
.readmore_review {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:16px;
    font-weight:bold;
    color:rgb(145, 145, 145);
    margin-top:15px;
    display:block;
    text-decoration:none;
    text-align:left;
    min-height:15px;
    background:no-repeat left center;
    padding-left:0px;
}
.readmore_review:hover {
    color:rgb(1, 182, 249);
    background-image:url(../images/arowreadmorehover.png);
    background-repeat:no-repeat;
    background-position:66px 5px;
}
.rights {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3B3B3B;
    background-color: inherit;
    text-align: center;
    margin-top:0em;
    margin-bottom:0em;
}
a.privacy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #0A93C9;
    background-color: inherit;
    text-decoration:none;
}
a.privacy:hover {
    text-decoration:underline;
}
/*about.css starts here */
 .content {
    margin-top:25px;
}
.services_list {
    font-family : Arial, Helvetica, sans-serif;
    text-align : center;
    font-size : 14px;
    line-height : 250%;
    padding:10px;
    min-height:10px;
}
.services_list li {
    line-height: 157%;
}
.main_form_holder {
    margin-top:20px;
    margin-bottom:20px;
}
.form_main_holder {
    min-height: 485px;
    padding:0 20px;
    margin-top:20px;
    margin-bottom:20px;
    border-right:1px dotted #000000;
}
.main_map_holder {
    margin-top:20px;
    margin-bottom:20px;
    padding-top:0;
    padding-bottom:0;
}
.about_content {
    border-right:1px dotted;
    padding-top:5px;
    padding-bottom:0;
}
.about_sidebar {
    padding-top:5px;
}
.team_list {
    font-family : Arial, Helvetica, sans-serif;
    text-align : center;
    font-size : 14px;
    line-height : 250%;
    padding:10px;
    min-height:10px;
}
.team_list li {
    line-height: 157%;
}
.company_description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #919191;
    background-color: inherit;
}
.about_list {
    padding:10px;
    min-height:10px;
}
.about_list li {
    padding-bottom:9px;
    background-image:url(../images/arowreadmore.png);
    background-repeat:no-repeat;
    background-position:0px 5px;
    padding-left:16px;
}
.about_list a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #919191;
    background-color: inherit;
    display: block;
    text-decoration: none;
}
.about_list a:hover {
    color:#666;
}
.team_image_holder {
    padding:10px;
    min-height:10px;
}
.team_image_holder {
    padding:10px;
    min-height:10px;
}
.team_text {
    padding:10px;
    min-height:10px;
}
.team_text {
    font-family: Arial, Helvetica, sans-serif;
    color: #919191;
    background-color: inherit;
    padding:10px;
}
.about_team {
    font-size: 12px;
    line-height: 16px;
}
.about_list li {
    color: #616061;
}
.image_employee {
    border-color: #DBDBDB;
    border-style:solid;
    height:84px;
    border-width:1px;
    width:84px;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-bottom:10px;
}
.about_sidebar p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
    color: #919191;
    background-color: inherit;
    width: auto;
    margin-top: 8px;
}
.em_pos {
    color: #3B3B3B;
    font-size: 11px;
    text-align:left;
}
.team_img {
    border-color: #CCCCCC;
    border-style:solid;
    min-height:164px;
    border-width:1px;
    padding:10px;
    width:184px;
    margin-top:20px;
}
.name, .email, .phone {
    width: 137px;
}
.confirm label {
    display: block;
    position: relative;
    min-height: 60px;
}
.confirm input {
    display: block;
    outline: none;
    padding: 0 15px;
    width: 80%;
    height: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #919191;
    background-color: white;
    border: 1px solid #E7E7E7;
    margin-top:0;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}
.confirm label.message {
    min-height: 170px;
    width:110px;
}
.confirm textarea {
    resize: none;
    overflow: auto;
    display: block;
    outline: none;
    padding: 10px 15px;
    width: 80%;
    height: 128px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #919191;
    background-color: white;
    border: 1px solid #E7E7E7;
    margin-top:0;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}
.button-small {
    min-width: 89px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: inline-block;
    color: #FCFBF7;
    font: bold 12px/35px Arial, Helvetica, sans-serif;
    line-height: 27px;
    -webkit-border-radius: 2px;
    position: relative;
    margin-right:20px;
    text-decoration:none;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00BFFE), color-stop(100%, #047ED5));
    background-image: -webkit-linear-gradient(top, #00BFFE 0%, #047ED5 100%);
    background-image: -moz-linear-gradient(top, #00BFFE 0%, #047ED5 100%);
    background-image: -o-linear-gradient(top, #00BFFE 0%, #047ED5 100%);
    background-image: -ms-linear-gradient(top, #00BFFE 0%, #047ED5 100%);
    background-image: linear-gradient(to bottom, #00BFFE 0%, #047ED5 100%);
    -moz-border-radius: 2px;
    border-radius: 2px;
    width:89px;
    min-height:34px;
    padding-top:10px;
}
.button-small:hover {
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #047ed5), color-stop(100%, #00bffe));
    background-image:-webkit-linear-gradient(top, #047ed5 0%, #00bffe 100%);
    background-image:-moz-linear-gradient(top, #047ed5 0%, #00bffe 100%);
    background-image:-o-linear-gradient(top, #047ed5 0%, #00bffe 100%);
    background-image:-ms-linear-gradient(top, #047ed5 0%, #00bffe 100%);
    background-image:linear-gradient(to bottom, #047ed5 0%, #00bffe 100%);
}
.google_map {
    padding:10px;
}
.company_address_text {
    margin-top:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #919191;
    background-color: inherit;
}
.company_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #01B6F9;
    font-weight: bold;
    background-color: inherit;
}
.services_holder {
    clear: both;
    min-height: 600px;
    margin-bottom:20px;
}
.services_row {
    clear: both;
    min-height: 170px;
    margin-top:30px;
    padding-bottom:30px;
}
.service_nugget {
    min-height: 191px;
    margin-left: 0px;
    margin-bottom:30px;
    display:inline-block;
}
.image {
    padding-top:10px;
    padding-bottom:10px;
}
.services_main_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #919191;
    border-right-width:1px;
    border-bottom:1px dotted #303030;
    padding:10px;
}
.service_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #919191;
    padding-right:10px;
    margin-top:10px;
    margin-bottom:10px;
}
.service_title:hover {
    color: #01B6F9;
    cursor:pointer;
}
h3.service_title {
    min-height: 13px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 110%;
    color: #474747;
    font-weight: lighter;
}
.nav_holder select {
    display: inline-block;
    width: 90%;
    height: 30px;
}

.contact_form_unit_wrapper {
    width: auto;
    min-height: 299px;
    float: none;
}
.contact_form {
    float: none;
}
.btns {
    min-height: 34px;
}
@media only screen and (min-width : 641px) {
    body img {
        height: auto;
        max-width:none;
    }
    body {
        min-width:960px;
        text-align: left;
    }
    body ul {
        list-style-type: disc;
        padding-left:40px;
    }

    .hmenubar {
        display: block;
    }
    .nav_holder select {
        display: none;
    }
    .hmenubar li {
        padding: 0 31px;
        display: inline-block;
    }
    .main_wrapper {
        clear: both;
        width: 960px;
        margin-right: auto;
        margin-left: auto;
        min-height: 700px;
        margin-top:20px;
        padding:0;
    }
    .footer {
        min-height: 20px;
        padding-right: 0px;
        padding-top: 33px;
        padding-bottom: 33px;
        padding-left: 0px;
    }
    .header {
        clear: both;
        min-height: 94px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top:20px;
    }
    .logo_holder {
        float: left;
        width: 445px;
        min-height: 92px;
        margin-left: 15px;
        padding: 0px;
        background-position:0px 15px;
    }
    .search_holder {
        float: left;
        width: 450px;
        min-height: 83px;
        padding-top:0;
    }
    form {
        float: right;
        margin-right: 20px;
    }
    .form {
        margin-top: 0;
        margin-bottom: 0;
        min-height: 55px;
        margin-left:0;
        margin-right:0;
        width:238px;
    }
    .search_box {
        float: left;
        margin-right: 0px;
        width:162px;
    }
    .gobox {
        float: left;
        height:28px;
        width:30px;
    }
    .hmenubar {
        list-style: none;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .hmenubar li a {
        text-align: center;
    }
    .nav_holder {
        clear: both;
        min-height: 58px;
        padding-top:0;
    }
    .slideshow {
        clear: both;
        min-height: 369px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0px;
        background-position:50% 0%;
    }
    .hover_boxes {
        clear: both;
        min-height: 241px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .box_area {
        float: left;
        width: 265px;
        min-height: 200px;
        margin-right: 1px;
        padding: 20px;
    }
    .about_us {
        clear: both;
        min-height: 328px;
        padding-right: 40px;
        padding-left: 40px;
    }
    .news_feed {
        float: left;
        width: 286px;
        min-height: 312px;
        border-right-width:1px;
    }
    .news_list {
        list-style-type: none;
        padding-left: 0px;
        text-align: left;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .client_box {
        float: left;
        width: 572px;
        min-height: 328px;
        padding-left: 20px;
    }
    body h2 {
        margin-right: 0;
        margin-left: 0;
    }
    .description_text {
        margin-right: 0;
        margin-left: 0;
    }
    .button {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    h2.title {
        margin-right: 0;
        margin-left: 0;
    }
    .employee {
        width: 285px;
        margin-bottom:0;
        margin-top:5px;
    }
    .client_review {
        clear: both;
        min-height: 121px;
        width: 572px;
    }
    .description_button {
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
        width:81px;
        height:28px;
        padding-top:0;
        float:left;
    }
    .paragraph {
        width: 244px;
    }
    .review_text {
        float: left;
        min-height: 100px;
        width: 433px;
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .revtitle {
        margin-right: 0;
        margin-left: 0;
        text-align:left;
    }
    .revtext {
        width: 403px;
        margin-right: 0;
        margin-left: 0;
        text-align:left;
    }
    .rights {
        text-align: center;
    }
    .content {
        min-height: 523px;
    }
    .services_content {
        float: left;
        min-height: 600px;
        width: 920px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .services_list {
        list-style-type: none;
        padding-left: 0px;
        text-align: left;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .main_form_holder {
        float: left;
        width: 490px;
        min-height: 463px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .main_map_holder {
        float: left;
        width: 365px;
        min-height: 483px;
        padding-right: 20px;
        padding-left: 40px;
    }
    .about_content {
        float: left;
        width: 567px;
        min-height: 511px;
        padding-right: 25px;
        padding-left: 20px;
    }
    .about_sidebar {
        float: left;
        width: 287px;
        min-height: 516px;
        padding-left: 20px;
    }
    .team_list {
        list-style-type: none;
        padding-left: 0px;
        text-align: left;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .about_list {
        list-style-type: none;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .team_box {
        clear: both;
        min-height: 239px;
    }
    .team_image_holder {
        margin-left: 0px;
        padding: 0px;
    }
    .team_image_holder {
        float: left;
        width: 216px;
        min-height: 239px;
        padding: 0px;
    }
    .team_text {
        float: left;
        width: 346px;
        min-height: 209px;
        margin-left: 20px;
        padding: 0px;
    }
    .team_text {
        width: 327px;
        padding: 15px 0;
    }
    .description_unit_wrapper {
        width: 178px;
        min-height: 110px;
        float: left;
        margin-left:0;
    }
    .description {
        min-height: 102px;
        margin-left: 20px;
        padding: 0px;
    }
    .contact_form_unit_wrapper {
        width: 100%;
        min-height: 299px;
        float: left;
    }
    .contact_form {
        float: none;
    }
    .confirm label {
        width: 344px;
    }
    .confirm input {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom:10px;
    }
    .confirm textarea {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom:10px;
    }
    .button-small {
        text-align: center;
        margin-right: 20px;
        min-width:60px;
        width:auto;
        min-height:0;
        padding-top:0;
    }
    .google_map {
        padding: 15px 0 0 0;
    }
    .company_address_text {
        width: 403px;
    }
    .service_nugget {
        width: 443px;
        float: left;
        margin-left: 10px;
    }
    .image {
        float: left;
        border-style: solid;
        border-width: 1px;
        border-color: #CCCCCC;
        padding-right: 10px;
        padding-left: 10px;
    }
    .services_main_text {
        float: left;
        min-height: 170px;
        width: 325px;
        margin-left: 10px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
    }
   
    .readmore_review {
        width: auto;
        text-align:left;
        margin-left:0;
        margin-right:0;
        min-height:0;
        background-position:66px 5px;
        padding-left:0;
        background-image:url(../images/arowreadmore.png);
    }
    .search_box_align {
        margin-left: 24px;
    }
    .client {
        margin-right: 0;
    }
    .news {
        text-align: left;
    }
    .em_pos {
        text-align: left;
    }
    .image_employee {
        margin-left: 0;
        margin-right:10px;
        float:left;
        display:inline;
        margin-bottom:0;
    }
    .description p {
        width: 152px;
    }
}