.carrinho {
  background-color: @vermelho-ftz;  
  border-radius: 50%;  
  margin:auto; 
}
.grande{
  width: 100px;
  height: 100px;
}
.carrinho .meio{
  background-color: @vermelho-ftz;
  width: 63%;
  height: 63%;
  border-radius: 50%;
  border:solid 10px white;
  margin:auto;
  margin-top: 17.5%;
  display: inline-block;
}
.carrinho .cart-icon{
  color: white;
  margin-top: 15%
}
.carrinho .large{
  font-size: 30px;  
}
.carrinho .small{
  font-size: 25px;    
}
.shadow{
  -webkit-filter: drop-shadow(0px 2px 2px #aaa);
  filter: drop-shadow(0px 2px 2px #aaa);
}