/* Carousel do Produtos em Destaque
-------------------------------------------------- */
/* Carousel base class */
  #Carousel-destaque.carousel {    
    margin-left: auto;
    margin-right: auto;   
    /*border: solid 1px #ddd;*/
    height: 280px;
    width: 1060px;
  }
  /* Since positioning the image, we need to help out the caption */
  #Carousel-destaque .carousel-caption {
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */  
  #Carousel-destaque .carousel-inner {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 290px;
    /* border-radius: 0px 0px 56px 56px; */
    background-color: rgb(255, 255, 255);
   }

  #Carousel-destaque .carousel-inner .item {
      height: 466px;
      width: 1040px;
      text-align: center;
      margin-left: 3%;
      margin-right: auto;
    }

  #Carousel-destaque .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .carousel-inner > .next.left, .carousel-inner > .prev.right {
    left: 10px;
  }
  #Carousel-destaque .carousel-control.left, #Carousel-destaque .carousel-control.right{
    background-image: none;    
  }  
  #Carousel-destaque .carousel-control{
    color: @vermelho-ftz;
  }
  #Carousel-destaque .carousel-control{
    width:3%;
  }
  