/* Carousel do topo
-------------------------------------------------- */
/* Carousel base class */
  #Carousel-topo.carousel {
    width: 1060px;
    margin-bottom: 60px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;     
   -webkit-filter: drop-shadow(0px 5px 5px #aaa);
    filter:         drop-shadow(0px 5px 5px #aaa); 

  }
  .carousel-indicators {
    bottom: 10px;
  }

  #Carousel-topo .carousel-indicators li{
    border: 2px solid @vermelho-ftz;
    width: 20px;
    height: 20px;
  }
  #Carousel-topo .carousel-indicators .active {   
    background-color: @vermelho-ftz;
  }
  
  #Carousel-topo .carousel-caption {
    z-index: 10;
  }
  #Carousel-topo .carousel-caption .preco-de{
    color: rgb(68, 68, 68);
    font-size: 27px;    
    margin: 0;
    padding: 0;
    text-decoration:line-through;
  } 
  #Carousel-topo .carousel-caption .preco-por{
    font-size: 66px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: @vermelho-ftz;
    line-height: 60px;
  } 
  #Carousel-topo .carousel-caption .parcelas{
    font-size: 20px;
    color: rgb(68, 68, 68);
    line-height: 45px;
  }

  /* Declare heights because of positioning of img element */
  #Carousel-topo.carousel .item {
    height: 466px;
    width: 1040px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #Carousel-topo .carousel-inner {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    .border-bottom-radius(56px);
    /*border-radius: 0px 0px 56px 56px;*/
    background-color: #fff;
  }

  #Carousel-topo .carousel-inner .item > img {
    position: absolute;
    top: 0;
    left: 0;
  }

  #Carousel-topo .carousel-control.left, #Carousel-topo .carousel-control.right{
    background-image: none;
  }
