//**********************************
// Grafico de circulos concentricos
//**********************************

.clock-wrapper{	
	height: 300px;	
	margin-top: 50px;
	float:left;
	width: 150px;
	height: 150px;
}
.clock {
	width: 150px;
	height: 150px;
	border-radius: 100px;
	position: absolute;	
	border: 14px solid rgb(255, 0, 0);	
	z-index: 2;	
}
.inner-clock {
	background-color: rgb(255, 0, 0);
	width: 100px;
	height: 100px;
	border-radius: 70px;
	margin-left: 25px;
	margin-top: 25px;
	position: absolute;
	z-index: 2;
}
.inner-clock .glyphicon{
	color: rgb(255, 255, 255);
	font-size: 50px;
	margin-left: 30px;
	margin-top: 30px;
}

.js-clock {		
	position: absolute;
	z-index: 1;	
}

.clock-price {
	width: 130px;
	height: 50px;
	background-color: rgb(255, 0, 0);
	padding: 5px 0;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	margin: 35px 0 10px;
}

.clock-price .price-title{
	color: rgb(0, 0, 0);
	margin-left: 10px;
	position: absolute;
	margin-top: -20px;
	font-size: 10px;
}

.clock-price .time{
	color: #fff;
	margin-left: 10px;
	font-size: 28px;
	margin-top: -25px;
}

.exclusives .products .image{
	width: 200px;
	height: 315px;
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	border: 1px solid black;
	margin-right: 40px;
}

.exclusives .products .image img
{
	max-width: 190px;
	padding-top: 40px;
}

.exclusives .products .image .discount
{
	margin-left: 105px;
}

.image-bottom
{
	width: 100%;
	height: 50px;
	display: inline-block;
	margin-left: 30px;
}

.image-bottom .facebook
{
	width: 30px;
	height: 30px;
	background-image: url("../../images/facebook.jpg");
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px;
	background-size: 30px 30px;
}

.outer-clock
{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: 6px solid red;
	margin-left: 70px;
	margin-top: 10px;
	z-index: 3;
	position: relative;
}

.small-clock .inner
{
	width: 32px;
	height: 32px;
	border-radius: 20px;
	background-color: red;
	margin-left: 84px;
	margin-top: -46px;
	z-index: 3;
	position: relative;
}

.small-clocks
{
	top: -41px;
	left: 75px;
	z-index: 1;
	position: relative;
}

//**********************************
// Grafico de circulos concentricos
//**********************************

#diagram {
float:right;
width:150px;
height:150px;
}

.get {
display:none;
}

