/* DESTAQUE-BOX
----------------------------------*/
  .destaque-box {
    background: rgb(214, 214, 214);
    padding-left: 20px;
    width: 54.4%;
    height: 237px;
    margin-top: 17px;
    float: left;
    padding-right: 45px;
    z-index: -5;
    padding-top: 20px;
    overflow: hidden;
  }
  .destaque-box h2{
    margin-top: 0px;
    margin-bottom: 20px;   
    font-size: 14px;
  }
  .destaque-box .preco-de {
    line-height: 11px;
    font-size: 11px;
  }
  .destaque-box .preco-por {
    font-size: 28px;
    color: @vermelho-ftz;
    line-height: 37px;
  }
  .destaque-box .preco-ou{
    font-size: 13px;
    line-height: 17x;
  }  
  .destaque-box .parcelas {
  font-size: 8.3px;
  }
  .destaque-box  .social-buttons {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .row .destaque-meio .col-lg-2 {
    margin-left: 0px;
    padding-left: 0px;
  }