footer
{
	margin-top: 30px;
}
.subscribe
{
	margin-left: 32%;
	margin-top: -10px;
	position: absolute;
}


.subscribe > input
{
	border-radius: 30px;
	margin-top: 6px;
	height: 44px;
	width: 300px !important;
	border:solid white 1px;
	box-shadow: none;
}

.subscribe-icon
{
	border: solid white 7px;
	width: 55px !important;
	height: 55px;
	border-radius: 30px;
	padding-top: 8px;
	padding-left: 8px;
	color: white;
	position: absolute;
	margin-left: -20px;
	background-color: red;
	font-size: 24px;
	z-index: 10;
}

.subscribe-form
{
	border-left: 2px solid white;
	border-bottom: 2px solid white;
}

.footer-background{
	background-color: red;
	width: 100%;
	height: 540px;
	border-top-left-radius: 800px 100px;
	border-top-right-radius: 800px 100px;
	position: relative;
}

.footer-background h4
{
	color: white;
	margin-left: 25px;
	font-size: 27px;
	margin-top: 70px;
}

.subscribe-form  input, textarea
{
	border-radius: 12px !important;
	height: 39px;
}

.subscribe-form button
{
	background-color: white;
	border-radius: 10px;
	width: 80px;
	height: 36px;
	border: 2px solid white;
	margin-top: 85%;
}

.footer-navigation .col-md-2 > ul
{
	list-style-type: none;
	padding-left: 5px;
}

.footer-navigation .col-md-2 > ul li:before
{
	content: '- ';
}

.footer-navigation .col-md-2, .col-md-4
{
	color: white;
	font-size: 15px;
	font-weight: 200;
}

.footer-navigation .navigation-title
{
	font-size: 20px;
}
.footer-navigation .col-md-2 > ul > li > a
{
	color: white;
	text-decoration: none;
}