// Core variables and mixins
@import "../bootstrap.less";

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
@import "variaveis.less";
@import "non-responsive.less";
@import "input-groups.less";
@import "navbar.less";
@import "botao-carrinho.less";
@import "info.less";
@import "clock.less";
@import "highlight.less";
@import "carousel-topo.less";
@import "carousel-destaque.less";
@import "destaque-box.less";
@import "product-wrapper.less";
@import "sections.less";
@import "footer.less";
@import "cd-dropdown.less";
@import "../../css/mi-slider.css";
@import "../../css/icons.css";