.header-background
{
  background-color: red;
  width: 100%;
  height: 140px;
  border-bottom-left-radius: 800px 100px;
  border-bottom-right-radius: 800px 100px;
  position: relative;
}

.header-container
{
  margin-top: -80px;
}
.zica
{
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 45%;
  padding-top: 15px;
}

.zica2
{
  background-color: white;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  margin-left: 12px;
  padding-top: 6px;
}

.zica3
{
  background-color: red;
  width: 63px;
  height: 63px;
  border-radius: 50px;
  margin-left: 6px;
}

.header-text
{
  margin-left: 210px;
}

.header-text a
{
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-top: 20px;

}

.header-xxx
{
  padding-top: 30px;
  display: inline-flex;
}

.header-logo
{
  margin-left: 250px;
}

.header-logo img
{
  width: 240px;
}

.header-icons
{
  color: white;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 5px;

}

.header-icons span
{
  margin-left: 50px;

}

