/* HIGHLIGHT
---------------------------------------*/
  .highlights
  {
    margin-top: 20px;
  }

  .highlights-control
  {
    font-size: 20px;
    color: red;
    width: 47px !important;
  }

  .highlight-product
  {
  display: inline-flex !important;
  }
  .highlight-product .info
  {
    width: 205px;
    height: 300px;
    background-color: #dedede;
    margin-top: 20px; 
  }

  .highlight-product .product-wrapper
  {
    display: flex;
  }

  .highlight-product .image
  {
    width: 200px;
    height: 340px;
    border-radius: 40px;
    margin-left: -190px;
    border: solid 1px black;
    background-color: #fff;
    .box-shadow(5px 5px 5px #222);     
    margin-right: 10px;
   
  }

  .highlight-product .image img
  {
    max-width: 180px;
    max-height: 180px;
    margin-top: 40px;
    margin-left: 10px;
  }

  .highlight-product .image .rating
  {
    margin-left: 15px;
    margin-top: 55px;
  }