/* INFO
----------------------------------------*/
  .info
  {
    padding-right: 30px;
  }
  .info > p
  {
    text-align: left;
    margin-bottom: 0px;
    margin-left: 25px;
  }

  .info .price
  {
    font-size: 34px;
    color: red;
    font-weight: bold;
  }
  .info .original-price
  {
    text-align: left;
    font-weight: 200;
  }
  .info .option2
  {
    font-size: 10px;
    font-weight: 200;
    text-align: right;
  }
  .info .title
  {
    text-align: right;
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
