 .col-login{  
    width:230px;
    padding-left: 0px;
    padding-right: 15px;
    float: left;
    position: relative;
 }
.login .input-group-addon{
  border: solid 6px rgb(229, 229, 229);
  border-radius: 40px;
  background: @vermelho-ftz;
  padding: 3px 4px;
  color:rgb(229, 229, 229);
}  
.login .form-control {
  border-radius: 0 20px 20px 0px;
  margin-top: 4px;
  margin-left: -15px;
  z-index: -1;
  font-size: 10px;
  padding-left: 20px;
  height: 24px;
} 
.procura .input-group-addon{
    border: solid 7px @vermelho-ftz;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    padding: 6px 6px;
    color: rgb(255, 0, 0);
 }  
 .procura .form-control{
    border: solid 7px @vermelho-ftz;
    border-radius: 0 20px 20px 0px;
    margin-top: 3px;
    margin-left: -15px;
    z-index: -1;
 }
 .lock{
 	position: absolute;
 	left: 0px;
 	top: 0px;
 	z-index: -5;
 }