/* navbar
----------------------------------------*/
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  margin: 0px auto;
  width: 1170px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .header-background {
  background-color: @vermelho-ftz;
  width: 100%;
  height: 140px;
  padding-top: 30px;
  .border-bottom-radius(800px 220px);  
  position: relative;
  -webkit-filter: drop-shadow(0px 5px 5px #aaa);
  filter:         drop-shadow(0px 5px 5px #aaa);   
}
.navbar-wrapper .menu-list .glyphicon-th-list{  
  color: white;
  font-size: 35px;
  padding-right: 50px;
  text-align: right;
  position: relative;
}
.cd-dropdown {
  position: absolute;
  width: 200px;
  margin: 0;
  display: block;
  top: 0px;
  display: none;
  /*overflow: hidden;*/
  float: left;
}
/*-------- Logo -------- */
.navbar-wrapper .logo {  
  display: block;  
  margin: 0px 0 0px 220px;
  padding: 0px;
}
.navbar-wrapper .logo a:hover {
  text-decoration: none;
}
.text-login {
  float: left;
  font-size: 8px;
  color: rgb(255, 255, 255);
  margin: 0 10px;
}
.text-login a,.text-login a:hover{
  text-decoration: none;
  color:white;
}

#social-buttons{
  float: right;
  margin-right: 18px;
}