/* product WRAPPER
----------------------------------*/
  .product-wrapper{
    width:185px;
    height:280px;
    float:left;
    margin-left: 15px;
  }
  .product-wrapper.visible{
    width:340px;
    height:280px;
    float:left;
    margin-left: 15px;
  }
  .product-wrapper.visible .destaque-box{
    overflow: visible;
  }
 .product-wrapper .image {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 20px;
    -webkit-filter: drop-shadow(0px 5px 5px #aaa);
    filter:         drop-shadow(0px 5px 5px #aaa); 
    background: rgb(255, 255, 255);
    width: 185px;
    height: 280px;
    margin-left: -185px;
    background-size: contain;
    float: right;
    text-align: center;
  } 
  .product-wrapper .image > img{
    margin-top: 60px;
  }
  .product-wrapper .image .rating {
    font-size: 20px;
    margin-top: 25px;    
  }
/* DISCOUNT
------------------------------------*/
  .product-wrapper .discount{
    width: 70px;
    height: 70px;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 45px;
    position: absolute;
    margin-left: 15px;    
    padding-top: 15px;
  }

  .product-wrapper .discount .price{
    color: white;
    font-size: 28px;
    margin-left: 7px;
  }  
