.top-section{
	margin-bottom: 40px;  
}
.top-section > span {
	font-size: 18px;
	color: rgb(187, 187, 187);
	margin-top: 7px;
	width: 12%;
}
.middle-section{
	margin-bottom: 50px;
}
#exclusivas.middle-section{
	background: #eee;
	padding: 40px 0;
}
#exclusivas .product-wrapper.visible{
	width: 490px;
}
#exclusivas .product-wrapper .clock-wrapper{
	display: none;
}
#exclusivas .product-wrapper.visible .clock-wrapper{
	display: block;
}

#exclusivas .product-wrapper.visible .destaque-box{
	width: 255px;
	margin-left: -70px;
	padding: 20px 60px 20px 60px;
}

//------------ mais vendidos------------------
#mais_vendidos .product-wrapper {
  width:  185px;
  height: 240px;
  float: left;               
}
#mais_vendidos .product-wrapper .image{  
  height: 240px;
}
#mais_vendidos .product-wrapper.visible{
  width: 385px;
  height: 460px;
}

#mais_vendidos .product-wrapper .image{
	height: 220px;	
}

#mais_vendidos .product-wrapper.visible .image{          
  height: 460px;
}

#mais_vendidos .product-wrapper .destaque-box{
	/*width: 210px;*/
	height: 425px;
	display: none;
}

#mais_vendidos .product-wrapper.visible .destaque-box{
	display: block;
}

#mais_vendidos .product-wrapper .image > img{
	margin-top: 40px;
}
#mais_vendidos .product-wrapper .image .detalhes{
	display: none;
}
#mais_vendidos .product-wrapper.visible .image .detalhes{
	display: block;
}

#mais_vendidos .product-wrapper .image .description > p{
	font-size: 9px;
	line-height: 18px;
	padding: 40px 5px 10px;	
}

#mais_vendidos .product-wrapper .image .rating{
	margin-top: 5px;
}

#mais_vendidos .product-wrapper .circles-graph{
	margin-top: 60px;
	margin-bottom: 30px;
}

.product-wrapper .frete{
	background-color: @vermelho-ftz;
	color: white;
	padding: 5px;
	margin-top: 20px;
}

//----------- Novidades ----------------------

#novidades .mi-slider{
	border: 1px solid rgb(214, 214, 214);
	border-radius: 20px;
	-webkit-filter: drop-shadow(0px 5px 5px #aaaaaa);
	filter: drop-shadow(0px 5px 5px #aaaaaa);
	background: rgb(255, 255, 255);

}
#novidades .product-wrapper{
	height: auto;
}
#novidades .product-wrapper .image{
	border: none;
	border-radius: 0;
	border-right: solid 1px rgb(221, 221, 221);
	margin: 20px 0 15px;	
	height: auto;
	-webkit-filter: none;
	float: left;	
	padding-bottom: 20px;
}
#novidades .product-wrapper .discount{
	width: 50px;
	height: 50px;
}
 #novidades .product-wrapper .discount .price{    
    font-size: 18px;    
  } 
#novidades .product-wrapper  .description h2{
	font-size: 14px;
}
#novidades .product-wrapper  .description .txt{
	font-size: 16px;
	vertical-align: top;
}
#novidades .product-wrapper  .description .preco-por{
	font-size: 35px;
	font-weight: bold;
	color: rgb(255, 0, 0);
	text-align: right;
	vertical-align: top;
	line-height: 35px;
}

#novidades .product-wrapper  .group{
	color: #000;
	font-size: 10px;
	font-weight: bold;
	margin: 40px 0 16px;
	text-transform: uppercase;
}

#novidades .product-wrapper  .group .active{
	color :red;
}