/* SMALL-CART
------------------------------------*/
  .small-cart-icon
  {
    background-color: red;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-left: 110px;
    padding-top: 5px;
    padding-left: 2px;
    margin-top: -43px;
  }

  .small-cart-icon2
  {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 3px;
    padding-top: 5px;
  }

  .small-cart-icon3
  {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 5px;
  }
  .small-cart-icon3 .cart-icon
  {
    margin-left: 11px;
    margin-top: 12px;
  }

