
.header-background
{
	background-color: red;
	width: 100%;
	height: 140px;
	border-bottom-left-radius: 800px 100px;
	border-bottom-right-radius: 800px 100px;
	position: relative;
}

.header-container
{
	margin-top: -80px;
}
.zica
{
	background-color: red;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-left: 45%;
	padding-top: 15px;
}

.zica2
{
	background-color: white;
	width: 75px;
	height: 75px;
	border-radius: 50px;
	margin-left: 12px;
	padding-top: 6px;
}

.zica3
{
	background-color: red;
	width: 63px;
	height: 63px;
	border-radius: 50px;
	margin-left: 6px;
}

.header-text
{
	margin-left: 210px;
}

.header-text a
{
	color: white;
	font-size: 24px;
	text-decoration: none;
	margin-top: 20px;

}

.header-xxx
{
	padding-top: 30px;
	display: inline-flex;
}

.header-logo
{
	margin-left: 250px;
}

.header-logo img
{
	width: 240px;
}

.header-icons
{
	color: white;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 5px;

}

.header-icons span
{
	margin-left: 50px;

}

.cart-icon
{
	color: white;
	font-size: 30px;
	margin-left: 17px;
	margin-top: 15px;
}

.featured-item
{
	width: 100%;
	min-height: 400px;
	border-radius: 30px;
	border: 5px solid #fff;
	box-shadow: 0 1px 15px #313131;
	overflow: hidden;
}

.item-wrapper
{
	padding-top: 100px;
}

.featured-item .background
{
	background: url(../images/headphones.jpg);
	height: 450px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.featured-item img
{
	width: 100%;
}

.featured-item-data
{
	padding-top: 100px;
}

.featured-item-data h2
{
	color: red;
	font-size: 65px;
	font-weight: 500;
	margin-top: -20px;
	margin-bottom: -10px;
}

.stryke:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 1px;
	background: black;
	width: 55%;
	margin-top: 16px;
	margin-left: 8px;
}
.featured-item-data h3, h4
{
	font-weight: 200;
}

.featured-item-data h4
{
	margin-left: 30px;
}

.featured-item-image .discount
{
	width: 90px;
	height: 90px;
	background-color: rgba(255, 0, 0, 0.8);
	border-radius: 45px;
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
	padding-top: 20px;
}

.featured-item-image .discount .price
{
	color: white;
	font-size: 36px;
	margin-left: 10px;
}

.slider-control
{
	margin-left: 38%;
	margin-top: 5%;
}

.slider-control > ul > li
{
	display: inline-block;
	width: 17px;
	height: 17px;
	background-color: rgb(255, 229, 229);
	border: solid red 2px;
	border-radius: 12px;
	margin-left: 5px;
}
.slider-control .active
{
	background-color: red;
}

.content-search > input
{
	border-radius: 30px;
	border:solid red 5px;
	margin-top: 4px;
}

.content-row
{
	padding-top:10px;
}
.search-icon
{
	border: solid red 5px;
	width: 40px !important;
	height: 40px;
	border-radius: 30px;
	padding-top: 8px;
	padding-left: 8px;
	color: red;
	position: absolute;
	margin-left: -20px;
	background-color: white;
}

.content-separator hr
{
	width: 828px;
}

.content-separator
{
	padding-top: 10px;
}

.content .content-row div
{
	display: inline-block;
}
.content .content-row
{
	display: inline;
}

.content .content-row h5
{
	font-size: 24px;
	color: #838383;
	font-weight: 200;
}

.highlights
{
	margin-top: 20px;
}

.highlights-control
{
	font-size: 20px;
	color: red;
	width: 47px !important;
}

.highlight-product
{
	display: inline-flex !important;
}
.highlight-product .info
{
	width: 205px;
	height: 300px;
	background-color: #dedede;
	margin-top: 20px;
}

.highlight-product .product-wrapper
{
	display: flex;
}

.highlight-product .image
{
	width: 200px;
	height: 340px;
	border-radius: 40px;
	margin-left: -190px;
	border: solid 1px black;
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
	margin-right: 10px;
}

.highlight-product .image img
{
	max-width: 180px;
	max-height: 180px;
	margin-top: 40px;
	margin-left: 10px;
}

.highlight-product .image .rating
{
	margin-left: 15px;
	margin-top: 55px;
}

.discount
{
	width: 70px;
	height: 70px;
	background-color: rgba(255, 0, 0, 0.8);
	border-radius: 45px;
	position: absolute;
	margin-left: 15px;
	margin-top: 30px;
	padding-top: 15px;
}

.discount .price
{
	color: white;
	font-size: 28px;
	margin-left: 7px;
}

.small-cart-icon
{
	background-color: red;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	margin-left: 110px;
	padding-top: 5px;
	padding-left: 2px;
	margin-top: -43px;
}

.small-cart-icon2
{
	background-color: white;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin-left: 3px;
	padding-top: 5px;
}

.small-cart-icon3
{
	background-color: red;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-left: 5px;
}
.small-cart-icon3 .cart-icon
{
	margin-left: 11px;
	margin-top: 12px;
}

.info
{
	padding-right: 30px;
}
.info > p
{
	text-align: left;
	margin-bottom: 0px;
	margin-left: 25px;
}

.info .price
{
	font-size: 34px;
	color: red;
	font-weight: bold;
}
.info .original-price
{
	text-align: left;
	font-weight: 200;
}
.info .option2
{
	font-size: 10px;
	font-weight: 200;
	text-align: right;
}
.info .title
{
	text-align: right;
	font-size: 21px;
	margin-top: 25px;
	margin-bottom: 20px;
}

.exclusives
{
	background-color: #eee;
	padding-top: 20px;
	height: 370px;
}

.exclusives .container
{
	display: inline-block;
	margin-left: 150px;
	padding-bottom: 30px;
}

.footer-background
{
	background-color: red;
	width: 100%;
	height: 540px;
	border-top-left-radius: 800px 100px;
	border-top-right-radius: 800px 100px;
	position: relative;
}

.exclusives .product .description
{
	background-color: #dedede;
	width:280px;
	padding-top: 2px;
	margin-top: 10px;
	margin-left: 130px;
}

.exclusives .product
{
	display: inline-block;
}

.exclusives .product .description .info
{
	height: 270px;
}

.exclusives .products
{
	display: inline-flex;
	margin-left: -15px;
	position: absolute;
}

.clock-offset
{
	padding-left: 50px;
	padding-top: 100px;
	margin-top: -20px;
	margin-bottom: 30px;
}

.clock-offset .original-price
{
	margin-left: 60px;
}

.clock-offset .price
{
	margin-left: 60px;
	position: relative;
	top: -20px;
}

.clock-offset .option
{
	margin-left: 60px;
	position: relative;
	top: -35px;
}

.clock-offset .option2
{
	position: relative;
	top: -45px;
}
.clock
{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	position: relative;
	margin-top: -300px;
	margin-left: -100px;
	border: 14px solid red;
	z-index: 3;
}

.clock-price
{
	width: 130px;
	height: 50px;
	background-color: red;
	position: relative;
	left: 97px;
	top: -310px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.inner-clock
{
	background-color: red;
	width: 140px;
	height: 140px;
	border-radius: 70px;
	margin-left: -70px;
	margin-top: -170px;
	z-index: 3;
	position: absolute;
}

.js-clock
{
	top: -190px;
	left: -90px;
	z-index: 1;
	position: relative;
}

.price-title
{
	color: #000;
	margin-left: 10px;
}

.price-title > p
{
	position: relative;
	top: -20px;
}
.clock-price .time
{
	color: #fff;
	margin-left: 10px;
	font-style: 20px;
}

.clock-price .time > p
{
	font-size: 28px;
	margin-top: -25px;
}

.clock-wrapper
{
	height: 300px;
}

.exclusives .products .image
{
	width: 200px;
	height: 315px;
	background-color: #fff;
	border-radius: 30px;
	display: inline-block;
	border: 1px solid black;
	margin-right: 40px;
}

.exclusives .products .image img
{
	max-width: 190px;
	padding-top: 40px;
}

.exclusives .products .image .discount
{
	margin-left: 105px;
}

.image-bottom
{
	width: 100%;
	height: 50px;
	display: inline-block;
	margin-left: 30px;
}

.image-bottom .facebook
{
	width: 30px;
	height: 30px;
	background-image: url("../images/facebook.jpg");
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px;
	background-size: 30px 30px;
}

.outer-clock
{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: 6px solid red;
	margin-left: 70px;
	margin-top: 10px;
	z-index: 3;
	position: relative;
}

.small-clock .inner
{
	width: 32px;
	height: 32px;
	border-radius: 20px;
	background-color: red;
	margin-left: 84px;
	margin-top: -46px;
	z-index: 3;
	position: relative;
}

.small-clocks
{
	top: -41px;
	left: 75px;
	z-index: 1;
	position: relative;
}

footer
{
	margin-top: 30px;
}
.subscribe
{
	margin-left: 32%;
	margin-top: -10px;
	position: absolute;
}


.subscribe > input
{
	border-radius: 30px;
	margin-top: 6px;
	height: 44px;
	width: 300px !important;
	border:solid white 1px;
	box-shadow: none;
}

.subscribe-icon
{
	border: solid white 7px;
	width: 55px !important;
	height: 55px;
	border-radius: 30px;
	padding-top: 8px;
	padding-left: 8px;
	color: white;
	position: absolute;
	margin-left: -20px;
	background-color: red;
	font-size: 24px;
}

.subscribe-form
{
	border-left: 2px solid white;
	border-bottom: 2px solid white;
}

.footer-background h4
{
	color: white;
	margin-left: 25px;
	font-size: 27px;
	margin-top: 70px;
}

.subscribe-form  input, textarea
{
	border-radius: 12px !important;
	height: 39px;
}

.subscribe-form button
{
	background-color: white;
	border-radius: 10px;
	width: 80px;
	height: 36px;
	border: 2px solid white;
	margin-top: 85%;
}

.footer-navigation .col-md-2 > ul
{
	list-style-type: none;
	padding-left: 5px;
}

.footer-navigation .col-md-2 > ul li:before
{
	content: '- ';
}

.footer-navigation .col-md-2, .col-md-4
{
	color: white;
	font-size: 15px;
	font-weight: 200;
}

.footer-navigation .navigation-title
{
	font-size: 20px;
}
.footer-navigation .col-md-2 > ul > li > a
{
	color: white;
	text-decoration: none;
}

.test
{
	width: 20px;
	height: 100px;
	background-color: blue;
	border-radius: 30px;
}